html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(7,8,10);
    overflow-x: hidden;
}

.wildrobotimg {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* HERO SECTION */
.button-overlay {
    position: relative;
    margin: 0;
    padding: 0;
}

.hero-title {
    font-size: 60px;
    font-family: 'helvetica';
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    text-align: center;
}

.getstarted-button {
    padding: 20px 35px;
    font-size: 21px;
    font-weight: bold;
    font-family: 'helvetica';
    background-color: #ffaa21;
    color: #111111;
    border-radius: 50px;
    border: none;
    margin-left: 10px;
}

.email-input {
    padding: 20px 35px;
    font-size: 20px;
    font-family: 'helvetica';
    font-weight: bold;
    color: #000000;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background-color: #fff2d5eb;
    border: 4px solid #ffaa21;
    width: 100%;
    max-width: 500px;
}

.hero-email ::placeholder {
    color: #2b1a006f;
    font-size: 20px;
    font-family: 'helvetica';
    font-weight: bold;
}

.hero-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.text-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

/* HEADER/NAVIGATION BAR SECTION */
.header-title {
    font-family: 'helvetica';
    font-size: 24px;
    color: #ffaa21;
    font-weight: bold;
}

.header {
    max-width: 1000px;
    height: 50px;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(19, 23, 26, 0.65);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 1000;
    gap: 70px;
    backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 153, 0, 0.515);
}

.header button {
    background-color: #fff7d5;
    color: #251b00;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    margin-right: -7px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.nav-link {
    color: #fffdf6bb;
    font-size: 16px;
    text-decoration: none;
    font-family: 'helvetica';
}

.nav-link:hover {
    color: #fffef8;
}

h2 {
    font-family: 'helvetica';
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

.header-spacing {
    margin-inline: 40px;
}

/* MOVIES SECTION */
.featured-movies, .popular-shows, .popular-movies {
    padding: 20px;
    margin-left: 50px;
}

.movie-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;
}

.movie-img {
    width: 275px;
    height: auto;
    border-radius: 25px;
}

.movie-img:hover {
    border: 2px solid #ffaa21;
}

.movie-title {
    font-family: 'helvetica';
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    margin-top: 10px;
}

.moviesection-title {
    font-family: 'helvetica';
    font-size: 25px;
    color: #ffffffe0;
    font-weight: bold;
}









/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .hero-title {
        font-size: 45px;
    }

    .email-input {
        font-size: 14px;
        padding: 15px 30px;
        width: 300px;
    }

    .hero-email ::placeholder {
        font-size: 14px;
    }

    .getstarted-button {
        font-size: 14px;
        padding: 15px 20px;
        width: 130px;
    }

    .header {
        padding: 10px 20px;
        max-width: 800px;
        height: 40px;
        gap: 50px;
    }

    .header button {
        padding: 10px 15px;
        width: 80px;
        font-size: 12px;
        margin-right: -4px;
    }

    .header-title {
        font-size: 20px;
        margin-top: 14px;
        margin-left: 5px;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 30px;
    }

    .email-input {
        font-size: 12px;
        padding: 10px 20px;
        width: 200px;
    }

    .hero-email ::placeholder {
        font-size: 12px;
    }

    .getstarted-button {
        font-size: 12px;
        padding: 12px 15px;
        width: 100px;
    }

    .header {
        padding: 8px 17px;
        max-width: 600px;
        height: 33px;
        gap: 35px;
    }

    .header button {
        padding: 8px 11px;
        width: 70px;
        font-size: 11px;
        margin-right: -4px;
    }

    .header-title {
        font-size: 18px;
        margin-top: 14px;
        margin-left: 5px;
    }

    .nav-link {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 20px;
    }

    .getstarted-button, .email-input {
        font-size: 14px;
        padding: 8px 20px;
    }

    .hero-email {
        flex-direction: column;
    }
}


/* .search-bar input {
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
}

.search-bar button {
    background-color: #fff7d5;
    color: #644a00;
    border: none;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
} */
